.news {
  min-height: 120vh;
  &__to-post {
    color: #1e1e1e;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__list {
    margin: 2px 0;
    position: relative;
    border-top: solid #858585 1px;
    padding: 4px;
    &::marker {
      content: none;
    }
  }
  &__title {
    font-size: 22px;
    color: #1e1e1e;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__author {
    color: #858585;
  }
}
.reload-block {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 8px 0;
}