.post {
  &__title {
    font-size: 24px;
    color: black;
    text-decoration: none;
    padding-right: 26px;
    display: block;
  }
  &__author {
    color: #858585;
    font-size: 20px;
  }
  &__comments-block {
    & > .comment {
      padding-left: 0;
      border-left: 0;
    }
  }
  &__main-block {
    position: relative;
  }
}